body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
  padding: 8px 16px 70px 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.25rem;
  font-weight: bold;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0 15px;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  z-index: 0;
  position: absolute;
  right: 30%;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Feature Section */
.features-section {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin: 80px 0 25px 0;
}

.feature-icon:hover {
  color: #ff4c68;
}

.features-section p {
  color: #8f8f8f;
}

/* Title Section */
.container-fluid {
  color: #fff;
  background-color: #FF4C68;
}

/* Testimonials Section */
.testimonial-section {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 15%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
.press-section {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
.pricing-section {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}
